.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;

    
  }
  
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer__column {
    flex: 1 1 250px;
    margin-bottom: 40px;
  }
  
  .footer__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer__list li {
    margin-bottom: 10px;
  }
  
  @media (min-width: 768px) {
    .footer__column {
      margin-right: 30px;
    }
  
    .footer__column:last-child {
      margin-right: 0;
    }
  }
  
  @media (min-width: 992px) {
    .footer__inner {
      max-width: 960px;
      margin: 0 auto;
    }
  }
  